@import '../../../Common/Styles/color';

.SpotifyAlarmOneMusicPlaylistForm {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70%;
}

.SpotifyAlarmOneMusicPlaylistForm__error {
}

.SpotifyAlarmOneMusicPlaylistForm__container {
	display: flex;
}

.SpotifyAlarmOneMusicPlaylistForm__container__button {
}

.SpotifyAlarmOneMusicPlaylistForm__container__playlistDisplayWrapper {
}

.SpotifyAlarmOneMusicPlaylistForm__container__button {
}
