@import '../../../../Common/Styles/color';

.SpotifyAlarmOneMusicPlaylistElement {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

$imageSize: 130px;

.SpotifyAlarmOneMusicPlaylistElement__image {
	width: $imageSize;
	height: $imageSize;
	border-radius: 15px;
	overflow: hidden;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.SpotifyAlarmOneMusicPlaylistElement__name {
	margin-top: 10px;
	height: 0;
	color: white;
	font-weight: 600;
	display: inline-block;
	text-align: center;
	opacity: 0;
	transition: 500ms opacity;
	width: 215px;
}

.SpotifyAlarmOneMusicPlaylistElement__name--display {
	opacity: 1;
}
